.menu-bar {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
    justify-items: center;
    margin-top: 5%;
    gap: 5%;
}

p {
    display: grid;
    justify-items: center;
    padding-left: 30%;
    padding-right: 30%;
}

.text-style {
    font-family: "Zain", sans-serif;
    font-size: 5vh;
    font-weight: 400;
}

.text-style-medium {
    font-family: "Zain", sans-serif;
    font-size: 4px;
    font-weight: 400;
}

.text-style-small {
    font-family: "Zain", sans-serif;
    font-size: 3vh;
    font-weight: 400;
}

.main-title {
    justify-self: center;
    padding-top: 5%;
}

button:hover {
    cursor: pointer;
    background-color: rgb(229, 187, 123, .5);
    color: rgb(85, 51, 10);
}

button {
    border: none;
    background-color: rgb(111, 165, 246, .5);
    max-width: 500px;
    max-height: 250px;
    min-height: 50px;
    /* min-height: 7vh; */
    /* min-width: 200px; */
    min-width: 11vw;
    border-radius: 15px;
    padding: 10%;
    color: rgb(10, 42, 89);
    transition: all 0.3s ease-in;
    font-family: "Zain", sans-serif;
    font-weight: 600;
    font-size: 3vh;
    
}

@media screen and (max-width: 1024px) {
    button {
        min-width: 25vw;
        min-height: 8vh;
        font-size: 2vh;
        font-weight: 500;
    }
}


body {
    background-color: rgb(230, 240, 248);
}

.logo-cont {
    display: flex;
    justify-content: center;
    
}

.logo {
    max-width: 15vw;
    opacity: 1;
}












/* IMAGES AND ANIMATIONS */
img {
    position: absolute;
    z-index: -1;
    max-width: 40px;
    opacity: .4;
}

.img1 {
    animation-name: image1;
    animation-timing-function:linear;
    animation-duration: 24s;
    animation-delay: .3s;
    /* animation-duration: 10s; */
    animation-iteration-count: infinite;
    opacity: 0;
}

.img2 {
    animation-name: image2;
    animation-timing-function: linear;
    animation-duration: 27s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
    opacity: 0;
}

.img3 {
    animation-name: image3;
    animation-timing-function: linear;
    animation-duration: 33s;
    animation-delay: .7s;
    animation-iteration-count: infinite;
    opacity: 0;
}
.img4 {
    animation-name: image4;
    animation-timing-function: linear;
    animation-duration: 29s;
    animation-iteration-count: infinite;
    animation-delay: .9s;
    opacity: 0;
}
.img5 {
    animation-name: image5;
    animation-timing-function: linear;
    animation-duration: 31s;
    animation-iteration-count: infinite;
    animation-delay: 1.1s;
    opacity: 0;
}
.img6 {
    animation-name: image6;
    animation-timing-function: linear;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-delay: 1.3s;
    opacity: 0;
}

.img7 {
    animation-name: image7;
    animation-timing-function: linear;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-delay: 1.3s;
    opacity: 0;
}

@keyframes image1 {
    0% {
        margin-top: -35vh;
        margin-left: 25%;
        opacity: 0;
    }
    10% {
        margin-top: -31vh;
        opacity: .3;
    }
    20% {
        margin-top: -27vh;
    }
    30%{
        margin-top: -34vh;
    }
    40% {
        margin-top: -29vh;
        margin-left: 75%;
    }
    50% {
        margin-top: -32vh;
    }
    60% {
        margin-top: -36vh;
    }
    70% {
        margin-top: -33vh;
    }
    80%{
        margin-top: -36vh;
    }
    90%{
        margin-top: -32vh;
        opacity: .3;
    }
    100% {
        margin-top: -35vh;
        margin-left: 25%;
        opacity: 0;
    }
}

/* SLIDE DA SINISTRA A DESTRA */
/* @keyframes image1 {
    0% {
        margin-top: -15vh;
        margin-left: 3%;
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        margin-left: 95%;
        opacity: 1;
    }
    100% {
        margin-top: -15vh;
        margin-left: 97%;
        opacity: 0;
    }

    
} */

@keyframes image2 {
    0% {
        margin-top: -38vh;
        margin-left: 75%;
        opacity: 0;
    }
    10% {
        margin-top: -33vh;
        opacity: .3;
    }
    20% {
        margin-top: -26vh;
    }
    30%{
        margin-top: -33vh;
    }
    40% {
        margin-top: -29vh;
        margin-left: 25%;
    }
    50% {
        margin-top: -31vh;
    }
    60% {
        margin-top: -36vh;
    }
    70% {
        margin-top: -32vh;
    }
    80%{
        margin-top: -27vh;
    }
    90%{
        margin-top: -34vh;
        opacity: .3;
    }
    100% {
        margin-top: -38vh;
        margin-left: 75%;
        opacity: 0;
    }
}

@keyframes image3 {
    0% {
        margin-top: -37vh;
        margin-left: 25%;
        opacity: 0;
    }
    10% {
        margin-top: -32vh;
        opacity: .3;
    }
    20% {
        margin-top: -26vh;
    }
    30%{
        margin-top: -31vh;
    }
    40% {
        margin-top: -39vh;
        margin-left: 75%;
    }
    50% {
        margin-top: -25vh;
    }
    60% {
        margin-top: -38vh;
    }
    70% {
        margin-top: -32vh;
    }
    80%{
        margin-top: -27vh;
    }
    90%{
        margin-top: -31vh;
        opacity: .3;
    }
    100% {
        margin-top: -37vh;
        margin-left: 25%;
        opacity: 0;
    }
}

@keyframes image4 {
    0% {
        margin-top: -34vh;
        margin-left: 75%;
        opacity: 0;
    }
    10% {
        margin-top: -27vh;
        opacity: .3;
    }
    20% {
        margin-top: -32vh;
    }
    30%{
        margin-top: -27vh;
    }
    40% {
        margin-top: -30vh;
        margin-left: 25%;
    }
    50% {
        margin-top: -35vh;
    }
    60% {
        margin-top: -33vh;
    }
    70% {
        margin-top: -39vh;
    }
    80%{
        margin-top: -33vh;
    }
    90%{
        margin-top: -26vh;
        opacity: .3;
    }
    100% {
        margin-top: -34vh;
        margin-left: 75%;
        opacity: 0;
    }
}

@keyframes image5 {
    0% {
        margin-top: -33vh;
        margin-left: 75%;
        opacity: 0;
    }
    10% {
        margin-top: -35vh;
        opacity: .3;
    }
    20% {
        margin-top: -42vh;
    }
    30%{
        margin-top: -29vh;
    }
    40% {
        margin-top: -34vh;
        margin-left: 25%;
    }
    50% {
        margin-top: -37vh;
    }
    60% {
        margin-top: -31vh;
    }
    70% {
        margin-top: -36vh;
    }
    80%{
        margin-top: -33vh;
    }
    90%{
        margin-top: -37vh;
        opacity: .3;
    }
    100% {
        margin-top: -33vh;
        margin-left: 75%;
        opacity: 0;
    }
}

@keyframes image6 {
    0% {
        margin-top: -35vh;
        margin-left: 25%;
        opacity: 0;
    }
    10% {
        margin-top: -33vh;
        opacity: .3;
    }
    20% {
        margin-top: -36vh;
    }
    30%{
        margin-top: -32vh;
    }
    40% {
        margin-top: -37vh;
        margin-left: 75%;
    }
    50% {
        margin-top: -33vh;
    }
    60% {
        margin-top: -38vh;
    }
    70% {
        margin-top: -31vh;
    }
    80%{
        margin-top: -37vh;
    }
    90%{
        margin-top: -31vh;
        opacity: .3;
    }
    100% {
        margin-top: -35vh;
        margin-left: 25%;
        opacity: 0;
    }
}

@keyframes image6 {
    0% {
        margin-top: -37vh;
        margin-left: 25%;
        opacity: 0;
    }
    10% {
        margin-top: -30vh;
        opacity: .3;
    }
    20% {
        margin-top: -39vh;
    }
    30%{
        margin-top: -32vh;
    }
    40% {
        margin-top: -35vh;
        margin-left: 75%;
    }
    50% {
        margin-top: -31vh;
    }
    60% {
        margin-top: -38vh;
    }
    70% {
        margin-top: -31vh;
    }
    80%{
        margin-top: -37vh;
    }
    90%{
        margin-top: -32vh;
        opacity: .3;
    }
    100% {
        margin-top: -37vh;
        margin-left: 25%;
        opacity: 0;
    }
}

